<section id="aboutMe">
  <div class="winCont">
    <div class="flex gap18">
      <div class="win">
        <h3>Sobre mi</h3>
      </div>
      <div class="aboutTitle win wfit">
        <span>Available for work</span>
        <div class="greenLight">
          <div></div>
        </div>
      </div>
    </div>
    <div class="win">
      <span>
        Hi, I'm Franco, a 23 year old Front-end developer living in Buenos Aires, Argentina. I have solid knowledge of
        <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>, <strong>Tailwind</strong>, and the
        latest versions of <strong>Angular</strong>.
      </span>
    </div>
  </div>
</section>
