<section>
  <div class="winCont">
    <div class="flex gap18">
      <div class="win">
        <h3>Sobre mi</h3>
      </div>
      <div class="aboutTitle win wfit">
        <span>Available for work</span>
        <div class="greenLight">
          <div></div>
        </div>
      </div>
    </div>
    <div class="win">
      <span>
        Hi, I'm Franco, a 23 year old Front-end developer living in Buenos Aires, Argentina. I have solid knowledge of
        HTML, CSS, JS, Tailwind, and the latest versions of Angular.
      </span>
    </div>
  </div>
  <div class="timeLineContainer">
    <div class="timeLine"></div>
    <div class="dateContainer">
      <span>20/10/24</span>
      <span>Me despierto y tomo un cafe.</span>
    </div>
  </div>
</section>
