<section>
  <div class="winCont">
    <div class="flex gap18">
      <div class="win">
        <h3>Sobre mi</h3>
      </div>
      <div class="aboutTitle win wfit">
        <span>Available for work</span>
        <div class="greenLight">
          <div></div>
        </div>
      </div>
    </div>
    <div class="win">
      <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae distinctio sapiente quibusdam provident, possimus
        doloremque ea dolorem quis, praesentium sunt laborum labore veniam rerum. Ex necessitatibus iste delectus
        inventore harum?
      </span>
    </div>
  </div>
  <div class="timeLineContainer">
    <div class="timeLine"></div>
    <div class="dateContainer">
      <span>20/10/24</span>
      <span>Me despierto y tomo un cafe.</span>
    </div>
  </div>
</section>
