<div class="navContainer">
  <nav class="win" [class.scrolled]="isScrolled">
    <div class="flex">
      <button [matMenuTriggerFor]="contactMenu">
        Contacto
      </button>
      <a href="#projects">Projects</a>
      <a href="#aboutMe">About Me</a>
      <button [matMenuTriggerFor]="themeMenu">
        <i class="material-icons">contrast</i>
      </button>
    </div>
  </nav>
</div>

<mat-menu class="matMenu" #contactMenu="matMenu">
  <div class="matMenu">
    <button class="optionBtn" [cdkCopyToClipboard]="mail">
      <mat-icon>content_copy</mat-icon>
      <span>Copy Mail</span>
    </button>
    <a href="https://dub.sh/MyLinkedInProfile" target="_blank" class="optionBtn">
      <mat-icon>send</mat-icon>
      <span>Linked in</span>
    </a>
  </div>
</mat-menu>

<mat-menu #themeMenu="matMenu" xPosition="before">
  <div class="matMenu">
    <button class="optionBtn" (click)="setTheme('dark')">
      <mat-icon>dark_mode</mat-icon>
      <span>Dark mode</span>
    </button>
    <button class="optionBtn" (click)="setTheme('light')">
      <mat-icon>light_mode</mat-icon>
      <span>Light mode</span>
    </button>
    <button class="optionBtn" (click)="setTheme('system')">
      <mat-icon>monitor</mat-icon>
      <span>System</span>
    </button>
  </div>
</mat-menu>
