nav {
  margin-top: 12px;
  width: 100%;
  max-width: 460px;
  border-radius: 60px;
  display: flex;
  position: fixed;
}

nav div {
  width: 100%;
  justify-content: space-between;
}

nav a,
button {
  padding: 4px 12px;
  text-wrap: none;
}

.navContainer {
  height: 50px;
  margin-bottom: 64px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.scrolled {
  padding: 12px;
  margin-top: 0;
  border-radius: 0;
  width: 100vw;
  max-width: none;
  border-style: none;
  background: var(--glass2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-bottom: 1px solid var(--antiflash-white);
}

.scrolled div {
  margin: 0 auto;
  width: 100%;
  max-width: 460px;
  justify-content: space-between;
}

.languagesList span {
  font-size: 1.5rem;
}

.optionBtn {
  padding: 8px 16px;
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: start;
  color: var(--eerie-black);
  background-color: var(--seasalt);
}

.optionBtn:hover {
  background-color: var(--platinum);
}

.matMenu {
  box-shadow: 0 0 0 20px var(--seasalt);
}

@media (max-width: 618px) {
  nav a, nav button {
    padding: 4px 8px;
    text-wrap: none;
  }
}

@media (max-width: 321px) {
  nav a, nav button {
    padding: 4px 4px;
    text-wrap: none;
  }
}
