.projectContainer {
  display: flex;
  padding: 14px;
  width: 100vw;
  max-width: 660px;
  height: 100vh;
  max-height: 360px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.projectContainer h3 {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.bgDark {
  background-color: #212529;
}

.bgDark span,
.bgDark h3,
.bgDark i {
  color: #f8f9fa;
}

.bgPurple {
  background-color: #9632e5;
}

.bgPurple span,
.bgPurple h3,
.bgPurple i {
  color: #f8f9fa;
}

.bgLight {
  background: rgba(255, 255, 255, 0.459);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid #f8f9fa;
}

.bgLight span,
.bgLight h3,
.bgLight i {
  color: #212529;
}

.descriptionZone {
  width: 316px;
  overflow: hidden;
}

.descriptionZoneContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imgZone {
  width: 316px;
  position: relative;
}

.imgResponisve {
  right: 0;
  top: 20%;
  width: 80%;
  border-radius: 8px;
  position: absolute;
  transition: all ease .3s;
}

.imgDesktop {
  top: 20%;
  left: 18px;
  width: 208%;
  border-radius: 8px;
  position: absolute;
  transition: all ease .3s;
}

.projectContainer:hover {
  box-shadow: 0 4px 8px rgb(0, 0, 0, .2);
}

.projectContainer:hover .imgDesktop {
  top: 0;
}

.projectContainer:hover .imgResponisve {
  top: 0;
}

.tecContainer {
  width: 100%;
  display: flex;
  align-items: center;
  mask-image: linear-gradient(to right, #ffffff00 0%, #ffffff 20%, #ffffff 80%, #ffffff00 100%);
  padding: 4px 0;
}

.tecContainer span {
  text-wrap: nowrap;
  font-style: oblique;
  font-weight: bolder;
  font-size: 2rem;
}

.marquee-content {
  display: inline-flex;
  animation: marquee-animation 10s linear infinite;
  gap: 24px;
  display: flex;
}

@keyframes marquee-animation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width:618px) {
  .projectContainer {
    margin: 0 12px;
    width: calc(100% - 24px);
    height: fit-content;
  }

  .descriptionZone {
    width: 100%;
  }

  .imgZone {
    display: none;
  }
}
