<section>
  <div class="projectsList">
    <div>
      <h2 id="projects">Projects</h2>
    </div>
    <app-project-card [title]="'link Shortener'" [imgResponisve]="'assets/linkShortener/f2.png'"
      [repoLink]="'https://dub.sh/Lnktun-repo'"
      [prevLink]="'https://dub.sh/Linktun'"
      [technologies]="['Angular18', 'Firebase', 'ExpressJS', 'NodeJS']" [customClasses]="'bgDark'">
      A link shortener that uses an API built with ExpressJS and hosted on Render. From my frontend, developed in
      Angular, I can send a URL to shorten it, store it in Firebase, and later request it to be redirected to the
      original page. Additionally, it features a user creation system to monitor link activity.
    </app-project-card>
    <app-project-card i18n [title]="'Gastronimic System'" [img]="'assets/SG-photos/f1.png'"
      [repoLink]="'https://dub.sh/Lnktun-repo'"
      [prevLink]="'https://dub.sh/GSP-preview'"
      [technologies]="['HTML', 'CSS', 'VanillaJS', 'Local Storage']" [customClasses]="'bgLight'">
      One of my first projects, developed with the knowledge I had at the time of HTML, CSS, and JavaScript, because I
      truly needed it for my job as a waiter and cashier in a bar. With this software, I can manage table orders, their
      bills, print tickets and order slips, as well as keep track of the cash register and some statistics.
    </app-project-card>
  </div>
</section>
