<section>
  <div class="projectsList gap22">
    <div>
      <h2>Proyectos</h2>
    </div>
    <hr>
    <app-project-card [title]="'link Shortener'" [imgResponisve]="'assets/linkShortener/f2.png'"
      [repoLink]="'https://github.com/Franco-Pertusati/Gastronimic-system-Pertusati'"
      [prevLink]="'https://franco-pertusati.github.io/Gastronimic-system-Pertusati/'"
      [technologies]="['Angular18', 'Firebase', 'ExpressJS', 'NodeJS']" [customClasses]="'bgDark'">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus ipsam quisquam labore commodi delectus
      modi
      nemo asperiores quidem impedit harum, repudiandae tempore, dignissimos est explicabo, ratione dicta esse
      laborum
      quasi!
    </app-project-card>
    <hr>
    <app-project-card i18n [title]="'Sistema Gastronomico'" [img]="'assets/SG-photos/f1.png'"
      [repoLink]="'https://github.com/Franco-Pertusati/Gastronimic-system-Pertusati'"
      [prevLink]="'https://franco-pertusati.github.io/Gastronimic-system-Pertusati/'"
      [technologies]="['HTML', 'CSS', 'VanillaJS', 'Local Storage']" [customClasses]="'bgLight'">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, quasi est! Corrupti voluptatum est, recusandae
      alias molestias maxime fugit rem id similique in explicabo blanditiis perferendis illum delectus vero illo.
    </app-project-card>
  </div>
</section>
