<div class="mx-auto mb-16 w-fit">
    <h2 class="text-6xl mt-12 text-mainColor font-semibold">Projects</h2>
</div>
<div class="w-full prjcontainers flex flex-col">
    <app-p-card [bgImage]="'https://i.pinimg.com/564x/78/ae/aa/78aeaa77062bf1c7fdfe2a7c8cdbecd7.jpg'"
        [title]="'Sistema gastronomico'" [repo]="'https://github.com/Franco-Pertusati/Gastronimic-system-Pertusati'"
        [preview]="'https://franco-pertusati.github.io/Gastronimic-system-Pertusati/'"
        [tecs]="['HTML', 'CSS', 'JavaScript', 'Local storage']"
        [gifs]="['assets/SG-photos/1.gif', 'assets/SG-photos/2.gif', 'assets/SG-photos/3.gif', 'assets/SG-photos/4.gif']">
        A software solution that was missing at the bar where I worked was one for managing table orders, counter sales,
        and keeping a clear record of the cash register. Since at that time my knowledge was limited to HTML, CSS, and
        JavaScript, I created it entirely in vanilla JavaScript. It was a significant challenge because making a large
        system reactive without advanced tools was difficult, but it provided me with solid JavaScript skills.
    </app-p-card>
    <app-p-card [bgImage]="'assets/Trello-photos/11.webp'" [title]="'Trello clone'"
        [repo]="'https://github.com/Franco-Pertusati/Trello-Clon'"
        [preview]="'https://franco-pertusati.github.io/Trello-Clon/'"
        [tecs]="['HTML', 'CSS', 'JavaScript', 'Local storage', 'Tailwind', 'Angular 18', 'Angular Material']"
        [gifs]="['assets/Trello-photos/1.gif', 'assets/Trello-photos/2.gif', 'assets/Trello-photos/3.gif', 'assets/Trello-photos/4.gif']">
        A clone created to learn how to use Angular CDK and Angular Material to easily implement features like drag and
        drop, overlays, and dialogs. It has also helped me solidify my knowledge of Tailwind.
    </app-p-card>
</div>