<div class="w-full flex flex-col justify-center place-items-center">
    <p class="text-8xl text-center text-seasalt font-semibold mb-16">Proyectos</p>
    <div class="flex flex-col gap-12">
        <app-proyect-card [landingPage]="'https://franco-pertusati.github.io/Gastronimic-system-Pertusati/'"
            [photo]="'assets/ProyectsScreenshots/SG.png'"
            [repo]="'https://github.com/Franco-Pertusati/Gastronimic-system-Pertusati'">
            <div>
                <p class="mb-4 text-2xl font-semibold">Sistema de gestion gastronomico</p>
                <p class="mb-4">Un software que hacia falta en el bar en el que trabajaba para agilizar la
                    administración de
                    pedidos de las
                    mesas las ventas del mostrador y llevar una cuenta clara en la caja. Dado que en ese momento mis
                    conocimientos se limitaban a HTML, CSS y JS lo hice completamente en vanilla lo que hizo dificultosa
                    su
                    escalabilidad. Tengo en mente crear uno utilizando Angular 18, Angular material y CDK con la
                    finalidad de poder proveer un servicio económico enfocado a locales chicos.
                    <br>
                    Algunas de las funcionalidades que ofrece son:
                </p>
                <ul class="font-semibold">
                    <li>Ventas por mostrador.</li>
                    <li>Movimientos de caja.</li>
                    <li>Múltiples medios de pago</li>
                    <li>Carga, eliminación y actualización de datos.</li>
                    <li>Categorías de productos.</li>
                    <li>Precios y costos de productos.</li>
                    <li>Deshabilitar productos cuando sea necesario.</li>
                    <li>Impresión de comandas</li>
                    <li>Impresión de tickets de control de mesa para clientes.</li>
                    <li>Personalización de tickets como mensajes personalizados al pie, nitidez o tamaño de la fuente.
                    </li>
                    <li>Reporte diario de ventas.</li>
                    <li>Venta en mesas.</li>
                    <li>Traslado de consumos entre mesas.</li>
                </ul>
            </div>
        </app-proyect-card>
        <app-proyect-card [landingPage]="'https://franco-pertusati.github.io/Trello-Clon/'"
            [repo]="'https://github.com/Franco-Pertusati/Trello-Clon'" [photo]="'assets/ProyectsScreenshots/TC.png'">
            <p class="mb-4 text-2xl font-semibold">Clon de Trello con Angular 18</p>
            <p class="mb-4">
                Un clon hecho para aprender a usar Angular CDK y Angular Material y así poder implementar
                fácilmente funcionalidades como el drag and drop, overlays o diálogos. También me a sido de ayuda para
                terminar de afianzar mi conocimiento en Tailwind.
            </p>
        </app-proyect-card>
        <app-proyect-card [photo]="'assets/ProyectsScreenshots/SO.png'"
            [repo]="'https://github.com/Franco-Pertusati/Sistema-Odontologico-Angular'">
            <p class="mb-4 text-2xl font-semibold">Sistema para clinicas dentales</p>
            <p class="mb-4">
                Un Dentista me encargo que le recree el sistema que utiliza a diario en su trabajo pero con ciertas
                mejoras en la experiencia de usuario para que
                señalar el estado de cada diente de una forma mas agil, implementar una forma de almacenar los datos de
                una forma mas segura en la que el usuario nunca
                pierda el acceso e implementacion de la API de Google Calendar para sincronizar y programar citas.
            </p>
        </app-proyect-card>
        <app-proyect-card [photo]="'assets/ProyectsScreenshots/EC.png'"
            [repo]="'https://github.com/Franco-Pertusati/practica-Angular-Ecomerce'">
            <p class="mb-4 text-2xl font-semibold">E-comerce con Angular 18</p>
            <p class="mb-4">
                Proyecto que me sirvió de practica para poder entender lo básico de angular como el routing, llamadas a
                APIs, servicios y la nueva sintaxis de Angular.
            </p>
        </app-proyect-card>
        <app-proyect-card [photo]="'assets/ProyectsScreenshots/GM.png'">
            <p class="mb-4 text-2xl font-semibold">juego hecho en unity para Android</p>
            <p class="mb-4">
                Un juego arcade sencillo que empece a desarrollar a mediados de 2022 con el objetivo de publicarlo en la
                PlayStore. Si bien al cabo de 4 meses logre completar el bucle de juego y la interfaz de usuario, nunca
                lo llegue a
                publicar.
            </p>
        </app-proyect-card>
        <app-proyect-card [photo]="'assets/ProyectsScreenshots/TD.png'"
            [landingPage]="'https://franco-pertusati.github.io/ToDo-App-Vanilla/'"
            [repo]="'https://github.com/Franco-Pertusati/ToDo-App-Vanilla'">
            <p class="mb-4 text-2xl font-semibold">Todo App Vanilla</p>
            <p class="mb-4">
                Un proyecto de una tarde que me propuse hacer para probar si podia hacer una aplicacion reactiva de una
                forma mas eficiente que el Sistema gastronomico, que tenia la deficiencia de que al agregar o eliminar
                un elemento de una lista esta se borra por completo para volver a renderizarce desde cero con la
                modificacion solicitada, sin embargo en el Todo App solo se modifican los elementos correspondientes sin
                necesidad de re-renderizar los que no cambiaron.
            </p>
        </app-proyect-card>
    </div>
</div>