<div class="w-full fixed text-md md:text-lg top-6 z-10">
    <nav class="flex gap-2 md:gap-4 p-2 rounded-full bg-anti-flash_white w-fit mx-auto shadow-md">
        <a href="https://www.linkedin.com/in/franco-pertusati-571308316/" target="_blank"
            class="bg-anti-flash_white py-2 px-4 rounded-full transition-all hover:shadow-lg hover:bg-seasalt">Contacto</a>
        <a href="#s2"
            class="bg-anti-flash_white py-2 px-4 rounded-full transition-all hover:shadow-lg hover:bg-seasalt">Proyectos</a>
        <a href="#s3"
            class="bg-anti-flash_white py-2 px-4 rounded-full transition-all hover:shadow-lg hover:bg-seasalt">Sobre
            mi</a>
    </nav>
</div>