.sq1 {
    background-color: #263FB0;
    width: 500px;
    height: 700px;
    border-radius: 56px;
    position: absolute;
    bottom: -420px;
    left: calc(50vw - 300px);
    transform: rotate(50deg);
}

.sq2 {
    background-color: #263FB0;
    width: 700px;
    height: 500px;
    position: absolute;
    top: -170px;
    right: -380px;
    transform: rotate(50deg);
}

.sqd {
    background-color: #263FB0;
    height: 600px;
    width: 600px;
    position: absolute;
    top: -200px;
    left: -100px;
    border-radius: 56px;
}