<div class="mt-44 shadow-md mx-auto rounded-xl">
    <div class="bg-seasalt p-4 md:p-8 rounded-t-xl flex gap-12">
        <div class="absolute top-32 right-1 min-w-36 sm:relative sm:top-0 sm:right-0 h-36">
            <img src="assets/Yo.jpeg" alt="" class="w-full h-full rounded-full shadow border-2 border-seasalt">
        </div>
        <div>
            <span class="text-xl">Hola, soy</span>
            <h1 class="font-bold text-mainColor text-6xl mb-4">Franco <br> Pertusati</h1>
        </div>
    </div>
    <div class="bg-seasalt p-4 md:p-8 pt-0">
        <p class="mb-2">
            Desarrollador Front-end con conocimientos en Angular 17 y su nueva sintaxis, HTML, CSS, JS, Tailwind y
            controladores de versiones como Git y GitHub.
        </p>
        <p>
            Si bien no cuento con experiencia laboral en ninguna empresa relacionada a la tecnologia, algunos mis
            proyectos
            tienen clientes reales.
        </p>
    </div>
    <div class="flex flex-col md:flex-row gap-4 md:gap-4 glass p-4 md:p-8 rounded-b-xl">
        <a class="px-6 py-2 bg-seasalt text-mainColor rounded-full flex gap-4 transition-all font-semibold w-fit hover:bg-anti-flash_white hover:shadow-lg cursor-pointer"
            href="https://franco-pertusati.github.io/Franco-Pertusati-Portfolio/assets/Pertusati Franco CV.pdf"
            download="Pertusati Franco CV.pdf"><i class="bi bi-download"></i>Descargar CV</a>
        <app-anchor [link]="'https://www.linkedin.com/in/franco-pertusati-571308316/'"><i
                class="bi bi-linkedin"></i><span>Linkedin</span></app-anchor>
        <app-anchor [link]="'https://github.com/Franco-Pertusati'"><i
                class="bi bi-github"></i><span>GitHub</span></app-anchor>
    </div>
</div>