<div class="mt-44 shadow-md mx-auto rounded-xl">
    <div class="bg-seasalt p-8 rounded-t-xl flex gap-12">
        <div class="absolute top-32 right-4 min-w-36 sm:relative sm:top-0 sm:right-0 h-36">
            <img src="assets/Yo.jpeg" alt="" class="w-full h-full rounded-full shadow border-2 border-seasalt">
        </div>
        <div>
            <span class="text-xl">Hola, soy</span>
            <h1 class="font-bold text-mainColor text-6xl mb-4">Franco <br> Pertusati</h1>
        </div>
    </div>
    <div class="bg-seasalt p-8 pt-0">
        <p class="mb-2">
            Desarrollador Front-end con conocimientos en Angular 17 y su nueva sintaxis, HTML, CSS, JS, Tailwind y
            controladores de versiones como Git y GitHub.
        </p>
        <p>
            Si bien no cuento con experiencia laboral en ninguna empresa relacionada a la tecnologia, algunos mis
            proyectos
            tienen clientes reales.
        </p>
    </div>
    <div class="flex flex-col gap-4 glass p-8 rounded-b-xl">
        <app-btn>
            <i class="bi bi-linkedin"></i>
            <span>LinkedIn</span>
        </app-btn>
        <app-btn>
            <i class="bi bi-cloud-download"></i>
            <span>Descargar CV</span>
        </app-btn>
    </div>
</div>