:root {
  --seasalt: #f8f9faff;
  --antiflash-white: #e9ecefff;
  --platinum: #dee2e6ff;
  --french-gray: #ced4daff;
  --french-gray-2: #adb5bdff;
  --slate-gray: #6c757dff;
  --outer-space: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;

  --glass: rgba(255, 255, 255, 0.3);
  --glass2: rgba(255, 255, 255, 0.6);

  --f: #f4c822;
  --g: #fa9b2e;
  --h: #ee5c60;
  --i: #ee5cc9;

  --ga: #fa9b2e26;
  --ha: #ee5c6026;
}

[data-theme="dark"] {
  --seasalt: #212529ff;
  --antiflash-white: #343a40ff;
  --platinum: #495057ff;
  --french-gray: #ced4daff;
  --french-gray-2: #adb5bdff;
  --slate-gray: #ced4daff;
  --outer-space: #dee2e6ff;
  --onyx: #e9ecefff;
  --eerie-black: #f8f9faff;

  --glass: rgba(33, 37, 41, 0.2);
  --glass2: rgba(33, 37, 41, 0.2);

  --ga: transparent;
  --ha: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 65.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--eerie-black);
  /* border: solid 1px red; */
}

.container {
  display: flex;
  gap: 52px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.mdc-label {
  font-size: 1.5rem;
}

.mat-mdc-radio-group {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 16px 0;
  font-size: 4.5rem;
  background: linear-gradient(to right, var(--h), var(--g), var(--h));
  /* Aquí defines el gradiente */
  background-clip: text;
  -webkit-background-clip: text;
  /* Aplica el fondo al texto */
  color: transparent;
  /* Hace que el color del texto sea transparente */
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-size: bolder;
  width: 100%;
}

hr {
  color: transparent;
  height: 32px;
}

body {
  line-height: 1.4;
  width: 100%;
  height: 100%;
  background-color: var(--antiflash-white);
  --color: var(--seasalt);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 26px 26px;
}

span {
  font-size: 1.5rem;
}

a {
  padding: 0 8px;
  color: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
}

a:hover {
  color: var(--outer-space);
}

button {
  padding: 0 8px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

input,
textarea {
  outline: none;
}

input {
  border-style: none;
  font-size: 1.5rem;
}

.winCont {
  width: 100vw;
  max-width: 660px;
  padding: 8px;
  border-radius: 20px;
  background: var(--glass);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid var(--platinum);
  overflow: hidden;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.win {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: solid 1px var(--platinum);
  background-color: var(--seasalt);
  box-shadow: 0 4px 8px rgb(0, 0, 0, .1);
  position: relative;
}

.shadow {
  box-shadow: 0 4px 8px rgb(0, 0, 0, .1);
}

/* UTILITIES */
section {
  margin-bottom: 64px;
}

.wfit {
  width: fit-content;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.flexReverse {
  flex-direction: row-reverse;
}

.alignItems {
  align-items: center;
}

.center {
  justify-content: center;
}

.featuresList {
  margin: 0 auto;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-items: center;
}

.featuresList div {
  width: fit-content;
  justify-self: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap8 {
  gap: 8px;
}

.gap18 {
  gap: 12px;
}

.gap24 {
  gap: 54px;
}

.p12 {
  padding: 12px;
}

.hfull {
  height: 100%;
}

.wfull {
  width: 100%;
}

.nBtn {
  padding: 8px 12px;
  border-radius: 50px;
  border: solid 1px var(--antiflash-white);
  background-color: var(--seasalt);
  width: fit-content;
}

.nBtn:hover {
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}

.squareBtn {
  border-radius: 8px;
}

.projectsList {
  width: 100vw;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.greenLight {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greenLight div {
  width: 6px;
  height: 6px;
  border-radius: 9px;
  background-color: #4cff28;
  box-shadow: 0 0 6px 4px #4cff2870;
}

.aboutTitle {
  display: flex;
  gap: 8px;
  text-wrap: nowrap;
}

.mb {
  margin-bottom: 22px;
}

.nameContainer {
  padding: 8px 16px;
  width: fit-content;
  background-color: var(--seasalt);
  border-radius: 30px;
  border: solid 1px var(--platinum);
}
