<section>
  <div class="winCont">
    <div class="nameContainer">
      <h3>Hello, I'm Franco Pertusati.</h3>
    </div>
    <h1>Front-End developer</h1>
    <div class="flex wfull flexReverse gap18">
      <a href="https://franco-pertusati.github.io/Franco-Pertusati-Portfolio/assets/Pertusati%20Franco%20CV.pdf" class="nBtn">
        <span>Download CV</span>
        <i class="material-icons">download</i>
      </a>
      <a href="https://www.linkedin.com/in/franco-pertusati-571308316/" target="_blank" class="nBtn">
        <span>Linked In</span>
        <i class="material-icons">open_in_new</i>
      </a>
      <a href="https://github.com/Franco-Pertusati" target="_blank"  class="nBtn">
        <span>Git-Hub</span>
        <i class="material-icons">open_in_new</i>
      </a>
    </div>
  </div>
</section>
