<section>
  <div class="winCont">
    <div class="nameContainer">
      <h3>Hello, I'm Franco Pertusati.</h3>
    </div>
    <h1>Front-End developer</h1>
    <div class="flex wfull flexReverse gap18">
      <a href="https://dub.sh/FrancoPertusatiCV" class="nBtn">
        <span>Download CV</span>
        <i class="material-icons">download</i>
      </a>
      <a href="https://dub.sh/MyLinkedInProfile" target="_blank" class="nBtn">
        <span>Linked In</span>
        <i class="material-icons">open_in_new</i>
      </a>
      <a href="https://dub.sh/Mygit-hub" target="_blank"  class="nBtn">
        <span>Git-Hub</span>
        <i class="material-icons">open_in_new</i>
      </a>
    </div>
  </div>
</section>
