<div class="w-fit shadow rounded-xl">
    <div>
        <div class="bg-seasalt p-8 flex flex-col max-h-96 rounded-t-xl">
            <div class="overflow-y-scroll mb-4">
                <ng-content />
            </div>
            <div class="flex gap-8">
                @if (repo) {
                <app-anchor [link]="repo"><i class="bi bi-github"></i><span>Repositorio</span></app-anchor>
                }
                @if (landingPage) {
                <app-anchor [link]="landingPage"><i class="bi bi-link"></i><span>Preview</span></app-anchor>
                }
            </div>
        </div>
        <div class="cardContainer p-8 glass rounded-b-xl">
            <div class="card bg-seasalt cursor-pointer" (click)="openDialog()">
                <div class="tools">
                    <div class="circle">
                        <span class="red box"></span>
                    </div>
                    <div class="circle">
                        <span class="yellow box"></span>
                    </div>
                    <div class="circle">
                        <span class="green box"></span>
                    </div>
                </div>
                <div class="overflow-hidden m-2">
                    <div class="card__content h-full flex sad">
                        <img class="rounded-md h-full w-full hover:scale-150 transition-all" [src]="photo" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>